In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("data_flats.csv",sep=';')
data.head()

,id,full_sq,life_sq,floor,sub_area,preschool_quota,preschool_education_centers_raion,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,...,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,theater_km,museum_km,ecology,price_doc
0,1,43,27.0,4.0,Bibirevo,5001.0,5,11065.0,5,0,...,0.648488,0.637189,0.947962,0.177975,0.625783,0.628187,14.053047,7.389498,good,5850000
1,2,34,19.0,3.0,Nagatinskij Zaton,3119.0,5,6237.0,8,0,...,0.519311,0.688796,1.072315,0.273345,0.967821,0.471447,6.829889,0.709260,excellent,6000000
2,3,43,29.0,2.0,Tekstil'shhiki,1463.0,4,5580.0,7,0,...,1.486533,1.543049,0.391957,0.158072,3.178751,0.755946,4.273200,3.156423,poor,5700000
3,4,89,50.0,9.0,Mitino,6839.0,9,17063.0,10,0,...,0.599914,0.934273,0.892674,0.236455,1.031777,1.561505,16.990677,16.041521,good,13100000
4,5,77,77.0,4.0,Basmannoe,3240.0,7,7770.0,9,0,...,0.429052,0.077901,0.810801,0.376838,0.378756,0.121681,1.112486,1.800125,excellent,16331452

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30469 entries, 0 to 30468
Data columns (total 56 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     30469 non-null  int64
 1   full_sq                                30469 non-null  int64
 2   life_sq                                24086 non-null  float64
 3   floor                                  30302 non-null  float64
 4   sub_area                               30469 non-null  object
 5   preschool_quota                        23781 non-null  float64
 6   preschool_education_centers_raion      30469 non-null  int64
 7   school_quota                           23784 non-null  float64
 8   school_education_centers_raion         30469 non-null  int64
 9   school_education_centers_top_20_raion  30469 non-null  int64
 10  hospital_beds_raion                    16029 non-null  float64
 11  healthcare_centers_raion               30469 non-null  int64
 12  university_top_20_raion                30469 non-null  int64
 13  sport_objects_raion                    30469 non-null  int64
 14  additional_education_raion             30469 non-null  int64
 15  culture_objects_top_25_raion           30469 non-null  int64
 16  shopping_centers_raion                 30469 non-null  int64
 17  office_raion                           30469 non-null  int64
 18  metro_min_avto                         30469 non-null  float64
 19  metro_km_avto                          30469 non-null  float64
 20  metro_min_walk                         30444 non-null  float64
 21  metro_km_walk                          30444 non-null  float64
 22  kindergarten_km                        30469 non-null  float64
 23  school_km                              30469 non-null  float64
 24  park_km                                30469 non-null  float64
 25  green_zone_km                          30469 non-null  float64
 26  industrial_km                          30469 non-null  float64
 27  railroad_station_walk_km               30444 non-null  float64
 28  railroad_station_walk_min              30444 non-null  float64
 29  public_transport_station_km            30469 non-null  float64
 30  public_transport_station_min_walk      30469 non-null  float64
 31  mkad_km                                30469 non-null  float64
 32  ttk_km                                 30469 non-null  float64
 33  sadovoe_km                             30469 non-null  float64
 34  bulvar_ring_km                         30469 non-null  float64
 35  kremlin_km                             30469 non-null  float64
 36  big_market_km                          30469 non-null  float64
 37  market_shop_km                         30469 non-null  float64
 38  fitness_km                             30469 non-null  float64
 39  swim_pool_km                           30469 non-null  float64
 40  ice_rink_km                            30469 non-null  float64
 41  stadium_km                             30469 non-null  float64
 42  basketball_km                          30469 non-null  float64
 43  hospice_morgue_km                      30469 non-null  float64
 44  university_km                          30469 non-null  float64
 45  workplaces_km                          30469 non-null  float64
 46  shopping_centers_km                    30469 non-null  float64
 47  office_km                              30469 non-null  float64
 48  additional_education_km                30469 non-null  float64
 49  preschool_km                           30469 non-null  float64
 50  big_church_km                          30469 non-null  float64
 51  church_synagogue_km                    30469 non-null  float64
 52  theater_km                             30469 non-null  float64
 53  museum_km                              30469 non-null  float64
 54  ecology                                30469 non-null  object
 55  price_doc                              30469 non-null  int64
dtypes: float64(41), int64(13), object(2)
memory usage: 13.0+ MB

In [4]:
data.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13652 entries, 0 to 30468
Data columns (total 56 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     13652 non-null  int64
 1   full_sq                                13652 non-null  int64
 2   life_sq                                13652 non-null  float64
 3   floor                                  13652 non-null  float64
 4   sub_area                               13652 non-null  object
 5   preschool_quota                        13652 non-null  float64
 6   preschool_education_centers_raion      13652 non-null  int64
 7   school_quota                           13652 non-null  float64
 8   school_education_centers_raion         13652 non-null  int64
 9   school_education_centers_top_20_raion  13652 non-null  int64
 10  hospital_beds_raion                    13652 non-null  float64
 11  healthcare_centers_raion               13652 non-null  int64
 12  university_top_20_raion                13652 non-null  int64
 13  sport_objects_raion                    13652 non-null  int64
 14  additional_education_raion             13652 non-null  int64
 15  culture_objects_top_25_raion           13652 non-null  int64
 16  shopping_centers_raion                 13652 non-null  int64
 17  office_raion                           13652 non-null  int64
 18  metro_min_avto                         13652 non-null  float64
 19  metro_km_avto                          13652 non-null  float64
 20  metro_min_walk                         13652 non-null  float64
 21  metro_km_walk                          13652 non-null  float64
 22  kindergarten_km                        13652 non-null  float64
 23  school_km                              13652 non-null  float64
 24  park_km                                13652 non-null  float64
 25  green_zone_km                          13652 non-null  float64
 26  industrial_km                          13652 non-null  float64
 27  railroad_station_walk_km               13652 non-null  float64
 28  railroad_station_walk_min              13652 non-null  float64
 29  public_transport_station_km            13652 non-null  float64
 30  public_transport_station_min_walk      13652 non-null  float64
 31  mkad_km                                13652 non-null  float64
 32  ttk_km                                 13652 non-null  float64
 33  sadovoe_km                             13652 non-null  float64
 34  bulvar_ring_km                         13652 non-null  float64
 35  kremlin_km                             13652 non-null  float64
 36  big_market_km                          13652 non-null  float64
 37  market_shop_km                         13652 non-null  float64
 38  fitness_km                             13652 non-null  float64
 39  swim_pool_km                           13652 non-null  float64
 40  ice_rink_km                            13652 non-null  float64
 41  stadium_km                             13652 non-null  float64
 42  basketball_km                          13652 non-null  float64
 43  hospice_morgue_km                      13652 non-null  float64
 44  university_km                          13652 non-null  float64
 45  workplaces_km                          13652 non-null  float64
 46  shopping_centers_km                    13652 non-null  float64
 47  office_km                              13652 non-null  float64
 48  additional_education_km                13652 non-null  float64
 49  preschool_km                           13652 non-null  float64
 50  big_church_km                          13652 non-null  float64
 51  church_synagogue_km                    13652 non-null  float64
 52  theater_km                             13652 non-null  float64
 53  museum_km                              13652 non-null  float64
 54  ecology                                13652 non-null  object
 55  price_doc                              13652 non-null  int64
dtypes: float64(41), int64(13), object(2)
memory usage: 5.9+ MB