In [1]:
import pandas as pd
import numpy as np

In [2]:
vis_data = pd.read_csv("train.csv", encoding = 'ISO-8859-1', low_memory = False)
vis_data.tail()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
250301,325555,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,SANTA MARIA,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
250302,325557,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,MEYERS RD,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
250303,325562,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,MEYERS RD,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
250304,325559,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,MEYERS RD,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
250305,325561,"Buildings, Safety Engineering & Env Department","Bush, Wesley",WESTGATE TERRACE APARTMENTS LLC,10701.0,MEYERS RD,NaN,1715.0,MEYERS,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [3]:
vis_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250306 entries, 0 to 250305
Data columns (total 34 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ticket_id                   250306 non-null  int64
 1   agency_name                 250306 non-null  object
 2   inspector_name              250306 non-null  object
 3   violator_name               250272 non-null  object
 4   violation_street_number     250306 non-null  float64
 5   violation_street_name       250306 non-null  object
 6   violation_zip_code          0 non-null       float64
 7   mailing_address_str_number  246704 non-null  float64
 8   mailing_address_str_name    250302 non-null  object
 9   city                        250306 non-null  object
 10  state                       250213 non-null  object
 11  zip_code                    250305 non-null  object
 12  non_us_str_code             3 non-null       object
 13  country                     250306 non-null  object
 14  ticket_issued_date          250306 non-null  object
 15  hearing_date                237815 non-null  object
 16  violation_code              250306 non-null  object
 17  violation_description       250306 non-null  object
 18  disposition                 250306 non-null  object
 19  fine_amount                 250305 non-null  float64
 20  admin_fee                   250306 non-null  float64
 21  state_fee                   250306 non-null  float64
 22  late_fee                    250306 non-null  float64
 23  discount_amount             250306 non-null  float64
 24  clean_up_cost               250306 non-null  float64
 25  judgment_amount             250306 non-null  float64
 26  payment_amount              250306 non-null  float64
 27  balance_due                 250306 non-null  float64
 28  payment_date                41113 non-null   object
 29  payment_status              250306 non-null  object
 30  collection_status           36897 non-null   object
 31  grafitti_status             1 non-null       object
 32  compliance_detail           250306 non-null  object
 33  compliance                  159880 non-null  float64
dtypes: float64(13), int64(1), object(20)
memory usage: 64.9+ MB

In [10]:
vis_data['state'].value_counts().idxmax()

'MI'

In [11]:
vis_data['state'].isna().value_counts()

False    250213
True         93
Name: state, dtype: int64

In [12]:
result = vis_data['state'].fillna(vis_data['state'].value_counts().idxmax())

In [13]:
result.isna().value_counts()

False    250306
Name: state, dtype: int64

In [14]:
from collections import Counter

In [17]:
c = Counter(vis_data['state'])
c.most_common()[0][0]

'MI'

In [22]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit_transform(vis_data[['balance_due']]).min()

-13.147334652567258